<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="none" [fullScreen]="true">
    <div class="glass-wrapper">
        <div class="loader-container">
            <!-- The Rotating Ring -->
            <div class="loader-ring"></div>

            <!-- Your Logo -->
            <img src="/images/ThreeDos Logo.jpeg" class="logo-img" alt="Logo" />
        </div>

        <!-- Animated Loading Text -->
        <div class="loading-text-container">
            <span class="dot-loader">Preparing your experience...</span>
        </div>
    </div>
</ngx-spinner>
<router-outlet></router-outlet>